/*/main content/*/
* {
    margin: 0;
    font-family: cursive;
    padding: 7px;
}

html {
    display: grid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
}

.globalWrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(to right top, #d16b6b, #a7565b, #7e424a, #572f37, #331e23, #361e23, #3a1d24, #3d1d24, #692c37, #983b47, #c94c55, #fb5f5f);
}

body:has(dialog[open]) {
    overflow: hidden;
}

h3 {
    color: black;
}


.canvasForTask {
    background-color: grey;
    margin-top: 45px;
    height: 400px;

}

.task-textarea {
    margin-top: 53px;
    transform: translateY(-9px);
    align-self: flex-start;
}

.navBar {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 20px;
    z-index: 1;
}


#test {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: red;
    height: 50px;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}



#test:hover {
    background-color: black;
    color: red;
    transition: .5s ease-in;
    width: 300px;
    opacity: 75%;
    font-size: 15px;
}

#test:active {
    transform: scale(1.5);

}



/*/
    welcome screen
    /*/
dialog#welcome-screen {
    height: 60vh;
    width: 30vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./red_guy.jpeg);
    overflow: hidden;
    flex-shrink: 0;
}


#welcome-item {
    height: 500px;
    width: 500px;
    animation: none;
    border-radius: 50%;
    border: groove 1px white;
    position: relative;
    animation: rotate 10s infinite linear, glow 2s infinite alternate;
    background-image: url(./red_guy.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

}

#welcome-item:hover {
    background-color: red;
}


/*/
    backdrops
    /*/
#welcome-screen::backdrop {
    background-image: linear-gradient(to right top, #000000, #151414, #232021, #312d2e, #403b3b, #403b3b, #403b3b, #403b3b, #312d2e, #232021, #151414, #000000);

}

#form-dialog::backdrop {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right top, #000000, #151414, #232021, #312d2e, #403b3b, #403b3b, #403b3b, #403b3b, #312d2e, #232021, #151414, #000000);
}




/*/
    end of welcome screen
    /*/

#test {
    background-color: #4ADBC8;
    color: red;
    height: 50px;
    width: 100px;
    opacity: 75%;
    margin-top: 20px;
    margin-left: 30px;
}


#test:hover {
    background-color: #4ADBC8;
    color: red;
    height: px;
    transition: 1s;
    width: 100px;
    opacity: 75%;
}


.task-scroll-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

.task-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 50px;
}


.task-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}


.key {
    display: flex;
    font-weight: bold;
    color: #4f5447;
    margin-right: 5px;
    height: fit-content;
    width: fit-content;
}

.value {
    display: flex;
    color: #666;
    height: fit-content;
    width: fit-content;

}

.keyValueWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    max-width: 250px;
    gap: 30px;
}


.task {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid 2px red;
}

.taskContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px;
    border: solid red 1px;
    margin-bottom: 5px;
    width: 15rem;
    text-align: center;
}

.taskBarItems {
    background-color: orange;
    width: 100%;
}

.taskBarItems:hover {
    transform: scale(1.1);
    background-color: green;
}

.left-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 0%;
    /* Position the div at the left edge of the screen */
    top: 50%;
    /* Position the div vertically centered */
    transform: translateY(-50%);
    /* Adjust vertical offset */
    padding: 10px;
    background-color: black;
    height: 100%;
    width: 200px;
    padding: 25px;
    overflow-y: auto;
}

#taskBool {

    height: 50px;
    width: 50px;
}

.taskDoneBtn {
    grid-row: 2/2;
    grid-column: 4/4;
}

.taskWrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    gap: 20px;
    border: 5px grove purple;
    padding: 20px;
    border: solid 1px black;
    background-color: #4cae4c;
    margin-top: 120px;
    transition: left 0.5s, top 0.5s;
    /* Smooth transition */
}


.taskWrapper:hover {
    transform: scale(1.15);
    border: solid red 5px;

}








.task-detail {
    color: red;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

/*/
    end of main-content
    /*/






/*/
    form styling
    /*/
#form-dialog,
#welcome-screen {
    overflow-y: auto;
    animation: fadeIn .76s;
    /* don't forget to set a duration! */
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    color: black;

}

#form-dialog {
    font-size: 10px;
    color: red;
    background-image: url(./red_guy.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.formWrapper {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    height: 900px;
    width: 900px;
    text-align: center;
}

/*task from fieldset*/
.colorme {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    height: fit-content;
    width: 30rem;
    text-align: left;
    margin-bottom: 100px;
    border-radius: 5%;
    padding: 15px;
    color: black;
    font: 2rem cursive;
    background-color: gray;
    opacity: .9;
}

.colorme>text {
    opacity: 1;
}



#submit1:hover {
    background-color: #4cae4c;
}

#submit1 {
    height: 50px;
    width: 100px;
    color: red;
    background-color: black;
    margin-bottom: 30px;
}

#myForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 900px;
    height: 900px;
    border-radius: 5%;
    background-position: center;
    font-size: 25px;
}



/* end of form styling */



/* media queries */

@media(max-width:1500px) {

    dialog#welcome-screen {
        height: 200px;
        width: 200px;
    }

    #welcome-item {
        height: 150px;
        width: 150px;

    }

    .main-content {
        transform: scale(.8);
        overflow: hidden;

    }

    .taskWrapper {
        width: fit-content;
        transform: scale(.8);
    }

    .task-container {
        overflow-x: hidden;
        width: auto;
        transform: scale(.7);
    }

    .keyValueWrapper {
        transform: scale(.9);
    }

    .task-scroll-box {
        height: fit-content;
        width: fit-content;
    }

    .left-menu {
        opacity: 0%;
    }


    .taskWrapper:hover {
        transform: scale(1);
        border: solid red 5px;

    }
}































/*/ keyframes/*/
@keyframes fadeIn {
    from {
        transform-origin: 0 0;
        scale: 50%;
        opacity: 0;
    }

    to {
        transform-origin: 0 0;
        scale: 100%;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        transform-origin: 0 0;
        scale: 100%;
        opacity: 1;
    }

    to {
        transform-origin: 0 0;
        scale: 50%;
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}